<ion-view view-title="Acerca de...">
  <ion-content style="background-color: #fef2e6;">    

    <div class="list card">
    	<div class="item item-image">
    		<img src="img/Perfil.png">
  		</div>
        <div style="text-align:center;">Piano Cat v1.0<br>
            Desarrolladora: Sof&iacute;a Sartori</div>
  		<a href="http://technisys.com" class="item item-avatar">
    		<img src="img/technisys.jpg">
    		<h2>Mobile Developer at Technisys</h2> 
    		<p><i class="ion-social-apple"></i>
    		<i class="ion-social-android"></i></p>
  		</a>
    	<a class="item item-avatar" href="http://www.github.com/sofiasartori">
    		<img src="img/gitHub.png">
    		<h2>Git Hub</h2>
    		<p>Usuario: /sofiasartori</p>    		
    	</a>
    	<a href="mailto:sartorisofiaines@gmail.com" class="item item-avatar">
    		<img src="img/mail.png">
    		<h2>Mandame un mail</h2>
    		<p>sartorisofiaines@gmail.com</p>
    	</a>
    </div>
    <div style="text-align:center;">Hecho con <i class="ion-android-favorite assertive"></i>, <i class="ion-ionic"></i> y <i class="ion-social-angular"></i></div>
  </ion-content>
</ion-view>