<ion-view view-title="Mi cuenta">
  <ion-content class="padding">
  <img src="img/pusheen.png" style="height:250px; width: 250px; margin-left:13%;">
    <div style="padding-left:25%;">            
      <input type="text" id="usuario" placeholder="usuario" style="text-align:center;" ng-model="form.usuario"><br>
    </div>
    <button ng-click="Ingresar()" class="button button-large button-royal" style="top: 10% !important; left:33% !important; font-family:'Chiller' !important;">Iniciar Sesi&oacute;n</button>
  </ion-content>
</ion-view>

