<ion-view view-title="PianoCat">
  <ion-content>
  <br><br><br>
    <div class="ui-grid-a">
    	<div class="ui-block-a">
    		<button class="button" ng-click="boton1()" style="background-image: url(img/1.png); background-size:100%;"></button></div>
   		<div class="ui-block-b">
    		<button class="button" ng-click="boton2()" style="background-image: url(img/2.png); background-size:100%;"></button></div>
    	<div class="ui-block-a">
    		<button class="button" ng-click="boton3()" style="background-image: url(img/3.png); background-size:100%;"></button></div>
   		<div class="ui-block-b">
    		<button class="button" ng-click="boton4()" style="background-image: url(img/4.png); background-size:100%;"></button></div>
    	<div class="ui-block-a">
    		<button class="button" ng-click="boton5()" style="background-image: url(img/5.png); background-size:100%;"></button></div>
   		<div class="ui-block-b">
    		<button class="button" ng-click="boton6()" style="background-image: url(img/6.png); background-size:100%;"></button></div>

    </div>
  </ion-content>
</ion-view>
