<ion-view view-title="Piano Cat">
  <ion-content style="background-color:#fef2e6;">
  <div class="row">
    <div class="col"><button class="button botonGatos" style="background-image:url(img/1.png);" ng-click="boton1()"></button></div>
    <div class="col"><button class="button botonGatos" style="background-image:url(img/2.png);" ng-click="boton2()"></button></div>
  </div><br>
  <div class="row">
    <div class="col"><button class="button botonGatos" style="background-image:url(img/3.png);" ng-click="boton3()"></button></div>
    <div class="col"><button class="button botonGatos" style="background-image:url(img/4.png);" ng-click="boton4()"></button></div>
  </div><br>
  <div class="row">
    <div class="col"><button class="button botonGatos" style="background-image:url(img/5.png);" ng-click="boton5()"></button></div>
    <div class="col"><button class="button botonGatos" style="background-image:url(img/6.png);" ng-click="boton6()"></button></div>
  </div>
  </ion-content>
</ion-view>
