<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Mi cuenta" icon-off="account" icon-on="account" href="#/tab/miCuenta">
    <ion-nav-view name="tab-miCuenta"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Piano Cat" icon-off="piano" icon-on="piano" href="#/tab/piano">
    <ion-nav-view name="tab-piano" disabled="!getLogueado()"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Acerca De" icon-off="about" icon-on="about" href="#/tab/acercaDe">
    <ion-nav-view name="tab-acercaDe"></ion-nav-view>
  </ion-tab>


</ion-tabs>
